@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

/* GENERAL  */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

hr {
  width: 100%;
  color: #444;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVIGATION */

.nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0px;
  z-index: 1;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 10px; */
}

.list {
  list-style: none;
  padding: 10px 40px;
  transition: all 0.5s ease;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.list-item {
  height: 100%;
  /* padding: 30px 0px; */
  text-decoration: none;
  align-items: center;
  color: white;
  transition: all 2s ease-in;
}

.list-item-color {
  color: black;
}

.list-item-color-icon,
list-item-color-home,
.list-item-color-home,
.list-item-socials {
  color: black;
}

.list-item-socials-container {
  display: none;
  /* display: flex; */
}

.list:hover {
  background-color: #dad6d6;
}

.nav .list:first-child {
  margin-right: auto;
}

.side-bar {
  position: fixed;
  top: 0%;
  right: 0;
  height: 100vh;
  width: 250px;
  /* backdrop-filter: blur(10px); */
  z-index: 20;
  background-color: #1c1a1a;
  /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
  display: none;
  /* margin-top: 200px; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
}

.side-bar li:first-child {
  text-align: end;
  display: flex;
  width: 100%;
}

.side-bar li {
  width: 100%;
  padding: 20px;
}

.side-bar a {
  width: 100%;
  /* overflow-y: hidden; */
}

/* intro */

.title {
  font-weight: 600;
  font-size: 3.5rem;
  margin: 170px 0 50px 0;
  z-index: -1;
  /* text-shadow: -66px -35px 0px 7px rgba(235, 8, 8, 0.7); */
}

.intro-paragraph {
  line-height: 1.9;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  text-transform: uppercase;
}

.value-of-ape {
  color: rgb(222, 106, 106);
}

.value-of-ape-size {
  font-size: 2rem;
}

.btn-buy {
  text-decoration: none;
  background-color: #444;
  display: flex;
  color: white;
  font-weight: 700;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin: 50px 0;
  transition: all 0.5s ease-in;
}

.btn-buy:hover {
  background-color: #333;
}

section {
  padding: 150px 0;
}

.socials {
  display: block;
}

.twitter-icon {
  color: white;
  font-size: 1rem;
}

.menu-size {
  font-size: 2rem;
  color: black;
}

.menu-color-close {
  font-size: 2rem;
  color: white;
}

/* section 1 */
.section-one-title,
.section-Two-title {
  font-size: 2.2rem;
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ROADMAP */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  z-index: -1;
}

.container-roadmap {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* background: #393636; */
}

.text-box {
  padding: 20px 30px;
  background-color: #555151;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.icon-roadmap {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  /* z-index: 10; */
}

.roadmap-title {
  color: rgb(226, 121, 121);
  padding: 10px 0;
  text-transform: uppercase;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.right-container .icon-roadmap {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 8s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  /* z-index: 1; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #555151;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  /* z-index: 1; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #555151;
  left: -15px;
}

/* section 2 */

.section-two {
  background-color: white;
  border-radius: 50px;
  color: black;
}

.section-two-paragraph {
  line-height: 2;
  letter-spacing: 1.1px;
  font-weight: bold;
  font-size: 1.2rem;
}

.lockup {
  margin: 30px 0;
}

.lockup-item {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #393636;
  padding: 20px;
  border-radius: 20px;
  margin: 40px 0;
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.number,
.card-h3 {
  font-size: 1.2rem;
}

.number {
  background-color: rgb(204, 54, 54);
  border-radius: 45%;
  padding: 10px;
}

canvas {
  height: 400px;
  width: 100%;
}

.section-three-technomics {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
/* faq */

.faq-container {
  /* max-width: 600px; */
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.question-btn {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

.answer {
  display: none;
  margin: 10px;
  color: black;
  padding: 20px;
  border: 1px solid #777;
}

.copyright-contract {
  display: flex;
  gap: 5px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
    visibility: hidden;
  }

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container-roadmap {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container .icon-roadmap,
  .right-container .icon-roadmap {
    left: 10px;
  }

  .right-container-arrow,
  .left-container-arrow {
    border-right: 15px solid #555151;
    border-left: 0;
    left: -15px;
  }

  .side-bar {
    width: 100%;
  }
}

@media screen and (min-width: 101px) {
  .title {
    font-size: 3rem;
  }

  p {
    font-size: 0.8rem;
  }

  .logo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 901px) {
  #showSiderbar {
    display: none;
  }

  .title {
    font-size: 6rem;
  }

  .list-item-socials-container {
    /* display: none; */
    display: flex;
  }

  .container {
    width: 70%;
  }

  .card {
    width: 40%;
  }

  .lockup {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  .btn-buy {
    width: 50%;
  }

  .section-one-title {
    font-size: 3.5rem;
  }

  .section-two-paragraph {
    font-size: 2.5rem;
  }
}
